@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: 0.55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

:root {
  --black: #212121;
  --white: #ffffff;
  --yellow-100: #ffecb3;
  --yellow-200: #ffe082;
  --yellow-300: #feeb70;
  --yellow-400: #ffca28;
  --yellow-500: #ffc107;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #e0e0e0;
  --gray-200: #eeeeee;
  --gray-100: #f5f5f5;
  --indigo-500: #3f51b5;
  --indigo-400: #5c6bc0;
  --indigo-300: #7986cb;
  --indigo-200: #9fa8da;
  --indigo-100: #c5cae9;
  --peach: #ffa580;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--yellow-300);
  color: var(--indigo-500);
}

/* Profile page */

.profile-container img {
  border-radius: 50%;
  border: 5px solid var(--white);
}

.profile-container,
.connect-container,
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em 0;
}

.personal-details-box,
.dci-course-box,
.dci-mentor-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 53vw;
}

.student-form,
.mentor-form {
  width: 50%;
}

.form-control,
.form-select {
  color: var(--black);
  outline: none;
  border: 2px solid var(--black) !important;
  box-shadow: 3px 4px 0px 1px var(--black);
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.select-topics,
.select-employment {
  color: var(--black);
  outline: none;
  border: 2px solid var(--black) !important;
  box-shadow: 3px 4px 0px 1px var(--black);
  border-radius: 4px;
  font-size: 15px;
}

.form-control:focus,
.form-select:focus {
  outline: none !important;
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
  border: 2px solid var(--black);
}

.personal-details-title,
.dci-course-title,
.dci-mentor-title {
  align-self: flex-start;
  margin: 1rem 0;
}

.mentorship-description {
  padding: 10px;
  border-radius: 1px solid var(--indigo-300);
  border-style: dotted;
  border-radius: 10px;
  padding: 12px 10px;
  text-align: center;
}

.course-selection {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  font-size: 1rem;
  color: #495057;
}

.save-changes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 12px 10px;
  border: 2px solid var(--black);
  box-shadow: 3px 4px 0px 1px var(--black);
  background-color: var(--indigo-300);
  min-width: 40%;
}

.save-changes:hover {
  background-color: var(--peach);
}

.become-mentor,
.email-button {
  color: var(--black);
  padding: 12px 10px;
  background-color: var(--peach);
  border: 2px solid var(--black);
  box-shadow: 3px 4px 0px 1px var(--black);
  min-width: 100%;
}

.become-mentor:hover,
.email-button:hover {
  background-color: var(--peach);
}

/* dropdown  */

.select {
  border: 2px solid var(--black);
  box-shadow: 3px 4px 0px 1px var(--black);
  border-radius: 4px;
  color: black !important;
}

#react-select-21-live-region {
  border: 2px solid var(--black) !important;
  box-shadow: 3px 4px 0px 1px var(--black) !important;
  border-radius: 4px !important;
  color: black !important;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Connect page */

#search-bar {
  min-width: 30vw;
}

#search {
  height: 2.5vw !important;
}

.search-button {
  margin: auto;
  background-color: var(--indigo-400);
  color: var(--white);
  height: 2.5vw !important;
  line-height: 0;
  outline: none;
  border: 2px solid var(--black) !important;
  box-shadow: 3px 4px 0px 1px var(--black);
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.cards-group {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 40%;
  color: var(--black);
  border: 2px solid var(--black) !important;
  box-shadow: 5px 6px 0px 1px var(--black) !important;
  border-radius: 2px !important;
  background-color: var(--white);
}

.card-title {
  color: var(--black) !important;
  font-weight: 500 !important;
}

.card-subtitle {
  /* color: var(--gray-500) !important; */
}

.language-badge,
.topic-badge {
  background-color: transparent !important;
  border: 2px solid var(--peach) !important;
  margin-right: 0.5rem;
  padding: 6px 5px;
  font-weight: 400 !important;
}

.email-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 70% !important;
}

/* media queries for medium and small screens  */

@media screen and (max-width: 992px) {
  .personal-details-box,
  .dci-course-box,
  .dci-mentor-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 70vw;
  }

  .personal-details-title,
  .dci-course-title,
  .dci-mentor-title {
    align-self: center;
  }

  .student-form,
  .mentor-form {
    width: 100%;
  }

  .profile-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* #search-bar {
    width: 80vw;
  } */

  #search {
    height: 2.5vw !important;
  }

  .card {
    align-items: center;
    min-width: 50%;
  }
}
